
@media screen and (max-width: 2000px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 30px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: unset;
    }
    .modal-dialog {
        max-width: 600px !important;
    }
    .modal-dialog.modal-lg{
        max-width: 900px !important;
    }
}

@media screen and (max-width: 1400px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 30px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: unset;
    }
    .modal-dialog {
        max-width: 600px !important;
    }
    .modal-dialog.modal-lg{
        max-width: 900px !important;
    }
}

@media screen and (max-width: 990px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 30px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: unset;
    }
    .modal-dialog {
        max-width: 600px !important;
    }
    .modal-dialog.modal-lg{
        max-width: 900px !important;
    }
}

@media screen and (max-width: 720px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 30px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: unset;
    }
    .modal-dialog {
        max-width: 600px !important;
    }
    .modal-dialog.modal-lg{
        max-width: 900px !important;
    }
}

@media screen and (max-width: 576px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 30px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: unset;
    }
    .modal-dialog {
        max-width: 600px !important;
    }
    .modal-dialog.modal-lg{
        max-width: 900px !important;
    }
}


@media screen and (max-width: 400px) {
    nav.navbar.navbar-header.navbar-header-transparent.navbar-expand-lg.border-bottom {
        padding: 0 10px;
    }
    .navbar .navbar-nav.top-menu {
        overflow-x: scroll;
    }
}

@media (min-width: 576px) {
    .page-inner {
        padding-right: 15px;
        padding-left: 15px;
    }
}
