.form-control {
    /* padding: .6rem 2rem; */
    font-size: 12px;
}
.navbar .navbar-nav .topbar-user .top-menu-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 44px;
    border-radius: 3px;
    color: #fff;
    background-color: #4809a7;
}
.sidebar .nav>.nav-item a, .sidebar[data-background-color=white] .nav>.nav-item a {
    padding: 6px 10px;
    width: 100%;
    text-decoration: none !important;
}
.sidebar[data-background-color=dark] {
    background: #4809a7 !important;
}
.logo-header[data-background-color=dark] {
    background: #4809a7 !important;
}
.navbar .navbar-nav .topbar-user .top-menu-link.active {
    background-color: #7855ad;
}
ul.nav.nav-lists .nav-list {
    background-color: #3b0a85;
}
ul.nav.nav-lists .nav-list.active {
    background-color: #250d4a;
}
ul.nav.nav-lists .nav-list .sub-item{
    font-size: 12px;
    padding-left: 22px;
    &:hover{
        background-color: #260657;
    }
}
.nav.nav-secondary .nav-item.active .main-topic-list{
    cursor: pointer;
}
.sidebar[data-background-color=dark2] .nav .nav-item.submenu, .sidebar[data-background-color=dark2] .nav .nav-item>a:focus, .sidebar[data-background-color=dark2] .nav .nav-item>a:hover, .sidebar[data-background-color=dark] .nav .nav-item.submenu, .sidebar[data-background-color=dark] .nav .nav-item>a:focus, .sidebar[data-background-color=dark] .nav .nav-item>a:hover {
    background: none;
}
.sidebar[data-background-color=dark2] .nav .nav-item.active>a, .sidebar[data-background-color=dark] .nav .nav-item.active>a {
    background: rgba(0, 0, 0, .16) !important;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}

.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}


span.input-group-text.bg-light.d-block {
    background-color: #fff !important;
    border: none !important;
  }
  .input-group-append {
    cursor: pointer;
  }

  i.fa.fa-calendar {
    padding: 4px;
  }
  .datepicker td,
  th {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
  }
  .datepicker {
    /* top: 6em !important; */
    border: 1px solid black;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

span.input-group-text.bg-light.d-block {
    background-color: #f5f5f5 !important;
    border: none !important;
    height: 100%;
    align-content: center;
}
.card{
    border: 1px solid #ddd;
    .card-header {
        background-color: #f9f7f7 !important;
        padding: 10px 10px;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default {
    &:hover{
        background-color: #f9f7f7 !important;
        border-color: #ccc;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    cursor: pointer;
    .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid blue;
        /* border-bottom: 10px solid blue; */
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}


small *, .small * {
    font-size: 12px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 4px 8px !important;
}

.card-body h1.text-uppercase {
    font-size: 18px;
}
.permissions_types_list{
    list-style: none;
}
.accordion-header {
    margin-bottom: 0;
    background-color: #cfe2ff;
    button{
        background-color: transparent;
        &::after{
            display:none;
        }
    }
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 9999;
    .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 34px;
        user-select: none;
        -webkit-user-select: none;
        align-content: center;
    }
}
.sidebar .nav>.nav-item a p {
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 5px;
    white-space: nowrap;
    font-weight: 600;
}

input:focus {
    border: 2px solid #3e93ff !important;
}

.form-group {
    padding: 6px 0;
}

span.input-group-addon {
    background-color: #fff;
}

.cursor-pointer{
    cursor: pointer !important;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 5px;
}
.form-check label, .form-group label {
    font-weight: 600;
}

.form-control:disabled, .form-control[readonly] {
    opacity: .8 !important;
    cursor: not-allowed;
}
.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}
.modal.show .modal-dialog {
    transform: none;
    box-shadow: 0px 0px 20px 3px #000;
}
.datepicker_field span {
    padding: 3px;
}
.modal-body.deleteModelDesctiption {
    padding: 35px 15px;
}
.pagination {
    display: block;
    width: 100%;
    nav[role="navigation"] {
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        svg{
            width: 20px;
        }

        span[aria-current="page"]{
            span{
                background-color: #3b0a85 !important;
                color: #ccc;
            }
        }
    }
}

hr {
    margin-top: 18px;
    margin-bottom: 16px;
    border: 0;
    border-top: 2px solid #949494 !important;
    color: transparent;
}

.bank_recon{
    .btn-success{
        width: 75px;
        margin: 10px 0;
    }
    .btn-warning{
        width: 60px;
        margin: 10px 0;
    }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: all; /* Ensure pointer events are enabled */
    cursor: not-allowed;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .45;
}

.btn {
    font-size: 12px;
}
.tb-w-100{width: 106px;}
.tb-w-150{width: 150px;}
.tb-w-200{width: 200px;}
.tb-w-250{width: 250px;}
.tb-w-300{width: 300px;}

.tbl-bg-color1 td{background-color: #b1b1b1;}

.tbl_row_width{
    width: 40px !important;
}
.tbl_row_width2{
    width: 80px !important;
}
.modal .modal-title {
    font-size: 16px;
}
p {
    font-size: 14px;
    line-height: 1.82;
    margin-bottom: 1rem;
    word-break: break-word;
}
.hide {
    display: none !important;
}
#assign_debt_modal {
    z-index: 9999;
    top: 10%;
}

table.table {
    thead{
        tr{
            th{
                font-size: 11px !important;
            }
        }
    }
}

ul#ui-id-1{
    position: relative;
    z-index: 9999;
    width: 400px !important;
}
